.header {
    font-size: 50px;
    background-color: #FFCC99;
    width:650px;
    border: 5px rgb(255,255,255);;
}

.playpausebtn {
    background: url(images/pause.jpeg);
    background-size: cover;
    width:19px;
    height:19px;
}

.mutespeakerbtn {
    background: url(images/mute.jpeg);
    background-size: cover;
    width:19px;
    height:19px;
}

.progressbar {
    width:425px;
}

.fullscreenbtn {
    background: url(images/full-screen.jpeg);
    background-size: cover;
    width:19px;
    height:19px;
    
}

.video {
    width:650px;
}

::-webkit-media-controls {

    display:none !important;

}